@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
    background-position: center;
}

div #time {
    text-align: center;
}

.row {
    height: 50px;
}