@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
    background-position: center;
    background: #334d50 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #cbcaa5, #334d50) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #cbcaa5, #334d50) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* .bg-dark {
    background-color: #213436 !important;
} */



#time {
    text-align: center;
    width: 12rem;
    background-color:#0e0018 ;
}

input {
    background: transparent;
    border: none;
    resize: none;
    color: black;
}

.color {
    color: gray;
}
.row {
    height: 5rem;
}

.bot-el-height {
    margin-bottom: 4px;;
}

.bg-danger {
    background: darkred !important;
}

header.jumbotron.bg-dark.text-white {
    padding-top: 36px;
}

h1.display-3 {
    font-weight: 500;
    margin-left: 8px;
}

p.lead {
    font-weight: 420;
    margin-bottom: 34px;
    margin-top: 20px !important;
    margin-left: 8px;

}

strong#day-today {
    margin-left: 8px;
}