@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
    background-position: center;
}

#time {
    text-align: center;
    width: 12rem;
    background-color: #9846df;
}

input {
color: black;
}

.row {
    height: 200px;
}
